.frist-section{
		float:left;
		text-decoration: none;
	}
	.frist-section ul{
        list-style-type: none;
	}

    .frist-section ul li{
		float: left;
	}

	.frist-section ul li a{

		text-decoration: none;
		margin: 10px;
	}

	a:hover{
		text-decoration:underline;
		color: red;
	}

	.second-section{
		float: right;
		margin-right:  40px;
	}


	h1{
		background-color: black;
		color: white;
		clear: both;
		padding: 20px;
	}
    .centered{
    	text-align: center;
    }

    .image01{
         width: 40%;
         height: 34%;
         background-color: black;
    }
    .text1{
      position: absolute;
      left: 640px;
      top: 300px;


    }
    .imagetext{
    	background-color: black;
    	padding: 25px;
    }
    .select img{
    	margin: 42px;
    }

    .images img{
        width:20px;
        height:20px;
    }

    #menu01{
    	float:left;
    	color: white;

    }
    #menu02{
    	color: white;
    	margin-left: 650px;
    }
    #menu03{
    	color: white;
    	position: relative;
        float:right;
    	top:-250px;
    }
    .last{
    	background-color: black;
    	padding: 40px;
    }
