.frist-section{
  float:left;
  text-decoration: none;
}
.frist-section ul{
      list-style-type: none;
}

  .frist-section ul li{
  float: left;
}

.frist-section ul li a{

  text-decoration: none;
  margin: 10px;
}

a:hover{
  text-decoration:underline;
  color: red;
}

.second-section{
  float: right;
  margin-right:  40px;
}


h1{
  background-color: black;
  color: white;
  clear: both;
  padding: 20px;
}

  .images img{
      width:20px;
      height:20px;
  }

  #menu01{
    float:left;
    color: white;

  }
  #menu02{
    color: white;
    margin-left: 650px;
  }
  #menu03{
    color: white;
    position: relative;
      float:right;
    top:-250px;
  }
  .last{
    background-color: black;
    padding: 40px;
  }
  .center{
    text-align: center;
  }
  .formt{
    background-color: white;
    position: absolute;
      left:1250px;
      top:290px;
      padding: 20px;

  }
  .formt button{
    background-color: green;
  }
